#main-navbar {
	position: relative;
	background-color: blue;
	width: 100%;
	overflow: hidden;
	float: left;
}

#navbar-container {
	left: 35%;
	position: relative;
}

#navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

#navbar-container ul li {
	display: block;
	float: left;
	
}

#navbar-container ul li a {
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	color: #fff;
	
}

#navbar-container ul li a:hover {
	background-color: #000;
}

#sidebar {
	background-color: red;
	position: fixed;
	right:0%;
	height: 100%;
	width: 20%;

	
}

#sidebar-container {
	
}

#sidebar-container ul {
  list-style-type: none;
}