#main-navbar {
	position: relative;
	background-color: blue;
	width: 100%;
	overflow: hidden;
}

#navbar-container {
	
	margin: 0;
	padding: 0;
	left: 50%;
	position: relative;
}

#navbar-container ul {
  list-style-type: none;

}

#navbar-container ul li {
	
	float: left;
	
}

#navbar-container ul li a {
	text-decoration: none;
	color: #fff;
}


#sidebar {
	background-color: red;
	position: fixed;
	right:0%;
	height: 100%;
	width: 20%;
	
}

#sidebar-container {
	
}

#sidebar-container ul {
  list-style-type: none;
}