#main-navbar {
	position: relative;
	background-color: blue;
	width: 100%;
	overflow: hidden;
	float: left;
}

#navbar-container {

}

#navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;

}

#navbar-container ul li {
	display: block;
	position: relative;
	right:50%;
	float: left;
	
}

#navbar-container ul li a {
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	color: #fff;
	
}

#navbar-container ul li a:hover {
	background-color: #000;
}

#sidebar {
	background-color: red;
	position: fixed;
	right:0%;
	height: 100%;
	width: 20%;	
}

#sidebar-container {
text-align:center;	
}

#sidebar-container ul {
  list-style-type: none;
  display:block;
  padding: 0;
}


#sidebar-container ul li a {
	padding: 15px 0;
	text-decoration: none;
	display:block;
	color:#fff
}

#sidebar-container ul li a:hover {
	background-color: #000;
}


#onpage {
	text-decoration: underline overline;
}